$black: rgb(63, 60, 59) !default;

$white: rgb(255, 255, 255) !default;

$yellow: rgb(217, 170, 85) !default;

$brown: rgb(115, 81, 61) !default;

$gray: rgb(221, 221, 220) !default;

$light_gray: rgb(249, 249, 249) !default;

$blue: rgb(22, 110, 159) !default;