.auth {
    position: absolute;
    top: 0;
    left: 0;
    background: #c9c7c742;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 20%;
        height: 30%;
        background: white;
    }
}