@mixin button-background($bg) {
    background: $bg;
    &:hover {
        background: darken($bg, 8%);
        transition: all 0.3s ease;
    }
    &:active {
        background: darken($bg, 25%);
    }
}

@mixin button-color($bg) {
    color: $bg;
    &:hover {
        color: darken($bg, 8%);
        transition: all 0.3s ease;
    }
    &:active {
        color: darken($bg, 25%);
    }
}

.button-list {
    padding: 3% 10%;
    font-size: 0.6vw;
    display: flex;
    color: $black;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    margin: 0 auto 10% auto;
    font-weight: 400;
}

.button-reviews {
    padding: 3% 10%;
    font-size: 0.7vw;
    color: $black;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    margin: 3% 5% 5% 5%;
    font-weight: 400;
}

.search_button {
    padding: 1% 2%;
    color: $black;
    border-radius: 5px;
    font-size: 1.1vw;
    font-weight: 400;
}

.register-button {
    padding: 1.1% 4%;
    font-size: 0.9vw;
    color: $black;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    margin: 3% 5% 0 5%;
    font-weight: 400;
}

.new-book-button {
    padding: 1.1% 4%;
    font-size: 0.9vw;
    color: $black;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    margin: 3% 5% 0 5%;
    font-weight: 400;
}

.upload-button {
    padding: 4% 1%;
    font-size: 0.9vw;
    display: flex;
    color: $blue;
    border: none;
    background: transparent;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-weight: 400;
}

.navigation-button {
    padding: 0.5% 3%;
    font-size: 0.9vw;
    color: $black;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    margin: 1.5% 0 1.5% 0;
    font-weight: 400;
}

.saving-button {
    padding: 0.6% 3%;
    font-size: 0.9vw;
    color: $black;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}

.publish-button {
    width: 247px;
    height: 42px;
    font-size: 18px;
    color: $black;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    margin: 1% 2.5%;
    font-weight: 400;
}

.offer-button {
    padding: 0.7% 4%;
    font-size: 0.8vw;
    display: flex;
    color: $black;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    margin-right: 0;
    font-weight: 400;
}

.btn-yellow {
    @include button-background($yellow);
}

.btn-blue {
    @include button-color($blue);
}