.item {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    &__new {
        background: $yellow;
        width: 50%;
        text-align: center;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }
    &__new>h5 {
        display: contents;
        font-size: 0.6vw;
        font-weight: 600;
        color: $black;
    }
    &__image {
        width: 78%;
        vertical-align: middle
    }
    &__info {
        width: 77%;
        border: 1px solid $black;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
        &__content {
            margin: 0;
            padding: 0;
            display: flex;
            margin-left: 5%;
            margin-top: 3%;
            margin-right: 3%;
        }
        &__content>h4 {
            margin: 0;
            font-size: 0.7vw;
            font-weight: 400;
            color: $black;
        }
        &__rating {
            display: flex;
            img {
                margin-left: 5%;
                margin-right: 5%;
                height: 24px;
            }
            p {
                margin-left: 0;
                margin-top: 0;
                margin-bottom: 5%;
                font-weight: 400;
                font-size: 1.1vw;
                color: $black;
            }
        }
    }
    &__info>p {
        margin: 3% 5% 3% 5%;
        font-weight: 300;
        font-size: 0.7vw;
        color: $black;
    }
}