.item {
    padding: 0;
    margin: 0;
    width: 10vw;
    &__new {
        background: $yellow;
        width: 50%;
        text-align: center;
        border-top-right-radius: 1vw;
        border-top-left-radius: 1vw;
    }
    &__new>h5 {
        display: contents;
        font-size: 0.7vw;
        font-weight: 600;
        color: $black;
    }
    &__image {
        vertical-align: middle;
        width: 10vw;
    }
    &__info {
        border: 1px solid $black;
        border-bottom-right-radius: 1.5vw;
        border-bottom-left-radius: 1.5vw;
        &__content {
            margin: 0;
            padding: 0;
            display: flex;
            margin-left: 5%;
            margin-top: 3%;
            margin-right: 3%;
        }
        &__content>h4 {
            margin: 0;
            font-size: 0.8vw;
            font-weight: 400;
            color: $black;
        }
        &__rating {
            display: flex;
            align-items: center;
            margin-bottom: 2%;
            img {
                margin-left: 5%;
                margin-right: 5%;
                width: 21%;
            }
            p {
                display: contents;
                margin-left: 0;
                margin-top: 0;
                margin-bottom: 5%;
                font-weight: 400;
                font-size: 1.2vw;
                color: $black;
            }
        }
    }
    &__info>p {
        margin: 3% 5% 3% 5%;
        font-weight: 300;
        font-size: 0.8vw;
        color: $black;
    }
}