.item_reviews {
    padding: 0;
    margin: 0;
    width: 19.5vw;
    height: 25vw;
    flex-direction: column;
    &__User {
        display: flex;
        width: 100%;
        text-align: left;
        img {
            display: flex;
            width: 9%;
        }
        &__review-contener {
            display: flex;
            flex-direction: column;
            width: 100%;
            .h5_user {
                display: flex;
                font-size: 0.7vw;
                margin: 0 0 0 1%;
                color: $black;
                font-weight: 600;
            }
            .h5_status {
                display: flex;
                font-size: 0.7vw;
                margin: 0 0 0 1%;
                font-weight: 300;
                color: $black;
            }
        }
    }
    &__middle-info {
        margin-top: 1%;
        display: flex;
        width: 100%;
        background: $gray;
        border-radius: 10px;
        &__image {
            display: flex;
            width: 40%;
            img {
                margin: auto;
                width: 70%;
                border-radius: 3px;
            }
        }
        &__text {
            display: flex;
            flex-direction: column;
            width: 60%;
            .h4-title {
                display: flex;
                margin: 10% 5% 3% 5%;
                font-weight: 400;
                font-size: 0.9vw;
                color: $black;
            }
            .h4-author {
                display: flex;
                font-size: 0.8vw;
                margin: 0 5% 0 5%;
                font-weight: 300;
                color: $black;
            }
            &__rating {
                display: flex;
                img {
                    margin: 7% 5% 5% 5%;
                    height: 36px;
                }
                p {
                    margin: 7% 2% 5% 0;
                    font-size: 1.3vw;
                    color: $black;
                }
            }
        }
    }
    &__main-info {
        display: flex;
        flex-direction: column;
        width: 100%;
        &__top {
            margin: 2% 0 0 0;
            display: flex;
            align-items: flex-start;
            width: 100%;
            img {
                margin: 0;
                height: 20px;
            }
            .h4-title {
                margin: 0;
                display: flex;
                font-size: 0.8vw;
                font-weight: 400;
                color: $black;
            }
        }
        .h4-text {
            display: flex;
            font-size: 0.8vw;
            margin: 0 0 2% 0;
            font-weight: 300;
            color: $black;
        }
        a {
            display: flex;
            font-size: 0.8vw;
            outline: none;
            font-weight: 400;
        }
    }
}