.Latest_reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__color {
        margin: 2% 0 2% 0;
        background: $light_gray;
        border-radius: 5px;
        border: 1px solid $black;
        width: 70%;
        &__body {
            display: flex;
            justify-content: center;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-evenly;
        }
        li {
            a {
                text-decoration: none;
                outline: none;
            }
        }
        &__basic_info {
            display: flex;
            justify-content: center;
            &__location {
                margin: 2% 0 1% 0;
                padding: 0;
                list-style-type: none;
                display: flex;
                flex-direction: row;
                width: 91%;
                justify-content: space-evenly;
                h4 {
                    display: flex;
                    margin: 0;
                    font-size: 26px;
                    color: $black;
                    font-weight: 400;
                    width: -webkit-fill-available;
                }
                a {
                    margin: 0;
                    font-weight: 400;
                    display: flex;
                    font-size: 26px;
                    outline: none;
                }
            }
        }
    }
}