.list {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    &__body {
        display: flex;
        justify-content: center;
    }
    .ul-colum {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
    }
    .ul-row {
        margin-top: 2%;
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        width: 70%;
        justify-content: space-evenly;
    }
    li {
        a {
            text-decoration: none;
            outline: none;
            height: 259px;
        }
    }
    &__basic_info {
        display: flex;
        justify-content: center;
        &__location {
            margin: 2% 0 0 0;
            padding: 0;
            list-style-type: none;
            display: flex;
            flex-direction: row;
            width: 67%;
            justify-content: space-evenly;
            h4 {
                display: flex;
                margin: 0;
                font-size: 26px;
                color: $black;
                font-weight: 400;
                width: -webkit-fill-available;
            }
        }
    }
    &__navigation {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}