@import '_buttons.scss';
@import '_list.scss';
@import '_new-book.scss';
@import '_New_arrival.scss';
@import '_link.scss';
@import '_Latest_reviews.scss';
@import '_auth.scss';
@import '_register.scss';
@import '_Popular.scss';
@import '_item.scss';
@import '_item_reviews';
@import '_paginator.scss';
@import '_my_account.scss';
@import '_create_review.scss';
@import '_rating-area.scss';
@import '_offer.scss';