.new-book {
    height: 41vw;
    width: 80%;
    margin-top: 6vw;
    background: $light-gray;
    border: 1px solid $black;
    &__container {
        display: flex;
        align-items: center;
        &__photo {
            display: flex;
            width: 40%;
            align-items: center;
            flex-direction: column;
            img {
                width: 15vw;
                border-radius: 5px;
            }
        }
        &__inputs {
            margin-top: 3%;
            display: flex;
            flex-direction: column;
            width: 60%;
            align-items: center;
            &__input-field {
                display: flex;
                flex-direction: row;
                margin: 0 0 2% 0;
                .blok {
                    border: 1px solid $black;
                    background: $gray;
                    width: 14vw;
                    height: 2.25vw;
                }
                h4 {
                    margin: 4% 0 0 10%;
                    color: $black;
                    font-weight: 400;
                    font-size: 0.9vw;
                }
                .input-style {
                    background: $white;
                    width: 23vw;
                    border: 1px solid $black;
                    font-weight: 400;
                    font-size: 0.9vw;
                }
            }
            &__input-window {
                display: flex;
                flex-direction: column;
                margin: 0 0 2% 0;
                .blok {
                    width: 37vw;
                    height: 2vw;
                }
                h4 {
                    margin: 2% 0 0 0;
                    color: $black;
                    font-weight: 400;
                    font-size: 1vw;
                }
                .window-style {
                    background: $white;
                    width: 37vw;
                    height: 13vw;
                    border: 1px solid $black;
                    font-weight: 400;
                    font-size: 0.9vw;
                    resize: none;
                }
            }
        }
    }
}