.paginator {
    display: flex;
    width: 15vw;
    padding: 0.7vw;
    margin: 0;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    a {
        margin: 0 3px;
        display: inline-block;
        min-width: 1.1vw;
        padding: 0 0.47vw;
        line-height: 2vw;
        color: $black;
        text-decoration: none;
        font-weight: bold;
        text-align: center;
        vertical-align: middle;
        background: $gray;
        border-radius: 50%;
        outline: none;
        font-weight: 400;
        font-size: 0.9vw;
    }
    .prev {
        margin-right: 6%;
        background-position: 0 1%;
    }
    .next {
        margin-left: 6%;
        background-position: 0 -1%;
    }
    .current {
        background-color: $black;
        color: $white;
    }
    .disabled {
        opacity: 0.3;
    }
    a:hover {
        background-color: $black;
        color: $white;
    }
}