.paginator {
    display: flex;
    width: 280px;
    padding: 10px;
    margin: 0;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    a {
        margin: 0 3px;
        display: inline-block;
        min-width: 20px;
        height: 40px;
        padding: 0 10px;
        line-height: 40px;
        color: $black;
        text-decoration: none;
        font-weight: bold;
        text-align: center;
        vertical-align: middle;
        background: $gray;
        border-radius: 50%;
        outline: none;
    }
    .prev {
        margin-right: 20px;
        background-position: 0px 0px;
    }
    .next {
        margin-left: 20px;
        background-position: 0px -40px;
    }
    .current {
        background-color: $black;
        color: $white;
    }
    .disabled {
        opacity: 0.3;
    }
    a:hover {
        background-color: $black;
        color: $white;
    }
}