.footer {
    margin-top: 2%;
    height: 100px;
    width: 100%;
    background: $brown;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__copyright {
        color: $white;
        margin-left: 19%;
        margin-right: 24%;
    }
    a {
        text-decoration: none;
        outline: none;
    }
}