.header {
    position: fixed;
    top: 0;
    height: 95px;
    width: -webkit-fill-available;
    &__area {
        display: flex;
        margin: 0 auto;
        width: 100%;
        height: 95px;
        background: $white;
        justify-content: space-evenly;
        align-items: center;
    }
    &__row {
        width: fit-content;
    }
    &__menu {
        width: 35%;
        a {
            text-decoration: none;
            outline: none;
            font-size: 22px;
            margin-left: 2%;
            margin-right: 2%;
        }
    }
    &__search_form {
        display: flex;
        font-size: 18px;
        width: 30%;
    }
    &__form {
        display: flex;
        width: 435px;
        border: 2px solid black;
        border-radius: 5px;
        margin: auto;
    }
    &__search_picture {
        margin: 1%;
    }
    &__input {
        font-size: 18px;
        width: -webkit-fill-available;
        height: 0.3em;
        input {
            outline: none;
            border-style: none;
            width: -webkit-fill-available;
            vertical-align: sub;
            height: auto;
        }
    }
    &__user {
        a {
            text-decoration: none;
            outline: none;
        }
    }
    &__line {
        hr {
            margin: 0;
            color: $black;
            border-width: 1px;
        }
    }
}